<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запрос</title>
    <link href="{{url_for('static', filename='blueprint.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    {% import 'menu_buttons.html' as but %}
    {{but.render_buttons(url_for('.menu'))}}
    <div>
        <h2>Введите количество дней</h2>
        <form action="" method=post>
            <input type="number" name="days" id="days" min="1" step="1">
            <input type="submit" value="Отправить" class="button">
        </form>
    </div>
</body>
</html>