<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Работа с запросами</title>
    <link href="{{url_for('static', filename='blueprint.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    {% import 'menu_buttons.html' as but %}
    {{but.render_buttons()}}
    <div>
        <h2>Выберите запрос</h2>
        <a href="{{url_for('.query', func='month_by_day_revenu')}}">Информация по доходам за месяц</a><br>
        <a href="{{url_for('.query', func='seans_count_in_zal')}}">Отчёт о количестве сеансов за месяц</a><br>
        <a href="{{url_for('.query', func='seans_for_days')}}">Информация о сеансах за последние N дней</a><br>
        <a href="{{url_for('.query', func='seans_info_in_month')}}">Информация о сеансах за месяц</a><br>
        <a href="{{url_for('.query', func='seans_sold_in_day')}}">Прибыль с сеансов в день N</a><br>
        <a href="{{url_for('.query', func='zal_base_price')}}">Базовая стоимость залов</a><br>
    </div>
</body>
</html>