<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запрос</title>
    <link href="{{url_for('static', filename='blueprint.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    {% import 'menu_buttons.html' as but %}
    {{but.render_buttons(url_for('.menu'))}}
    <div>
        {% if not context['result'] %}
            <h2>Ошибка получения данных</h2>
        {% elif context['result'] == -1 %}
            <h2>Данных нет</h2>
        {% else %}
            <h2>Информация по прибыли сеансов за {{context['year']}}-{{context['month']}}-{{context['day']}}</h2>
            <table border="1">
                <tr class="tab_title">
                    <td>Зал</td>
                    <td>Время</td>
                    <td>Доход</td>
                </tr>
                {% for day in context['result'] %}
                <tr>
                    <td>{{day['Name']}}</td>
                    <td>{{day['Time']}}</td>
                    <td>{{day['Income']}} р.</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        <br><br><a class="button" href="{{url_for('.query', func='seans_sold_in_day')}}">Новый запрос</a>
    </div>
</body>
</html>