<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запрос</title>
    <link href="{{url_for('static', filename='blueprint.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    {% import 'menu_buttons.html' as but %}
    {{but.render_buttons(url_for('.menu'))}}
    <div>
        {% if not context %}
            <h2>Ошибка получения данных</h2>
        {% elif context == -1 %}
            <h2>Данных нет</h2>
        {% else %}
            <h2>Базовая стоимость всех мест в залах</h2>
            <ul>
                {% for x in context %}
                  <li>"{{x['Name']}}" – Базовая стоимость: {{x['Base']}} р.</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>