<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кинотеатр "Звезда"</title>
    <link href="{{url_for('static', filename='blueprint.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    {% import 'menu_buttons.html' as but %}
    {{but.render_buttons()}}
    <div>
        {% if not context %}
            <h2>Ошибка получения данных</h2>
        {% elif context == -1 %}
            <h2>Сейчас нет фильмов в прокате</h2>
        {% else %}
            <h2>Сейчас в прокате</h2>
            <div class="list">
            {% for film in context %}
                <div>
                    <a href="{{url_for('film_info', name=film['ID'])}}">
                        <h3>{{film['Title']}}</h3>
                        <img class="poster" src="{{film['PosterURL']}}" alt="Постер фильма '{{film['Title']}}'" width="80%">
                        <p>Длительность: {{film['Duration']}} мин.</p><br><br>
                    </a>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>